
.App {
  padding: 20px;
}

.filter-buttons {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.filter {
  cursor: pointer;
  margin: 0 10px;
  outline: none;
  border-radius: 14px;
  padding: 3px 20px;
}

.filter-active {
  background-color: #beffc7;
}

.card {
  margin: 10px 0;
  padding: 10px 15px;
  background-color: #dcffe1;
  border-radius: 14px;
}

.text {
  margin: 0.2em 0;
  font-size: 20px;
  font-weight: 600;
}

.tags {

}

.tag {
  border-radius: 14px;
  font-size: 13px;
  padding: 3px 15px;
  background-color: #475577;
  color: #fff;
}

.area {
  background-color: #9365B8;
  color: #fff;
}

.page {
  padding: 5px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 14px;
}

.pages {
  margin: 10px 0;
  text-align: center;
}
.page:hover {
  border-color: #beffc7;
}

.active-page {
  border-color: #333;
  background-color: #beffc7;

}
